# Day2
- **Today concepts**
    - variables
    - type conversion
    - i/p reading

# introduction/chapter name
* heading
    * side heading
        * description

# heading1

## heading2

### heading3

#### heading4

##### heading5

###### heading6

In [3]:
print('executed')

executed

In [4]:
print(9+10) # it is returning o/p to the user/developer

19

In [5]:
90.45-45.98 # returning value to the interpreter

44.470000000000006

### keywords in python
- a keyword is a reserved word which has special meaning & it's own purpose
- those could not be used as a variable
- Ex:if,else,elif,for,while,def,del,and,or,print(),input(),True,False,return etc...

In [8]:
5 is 5

True

In [7]:
6 is not 5 # look like a statement/sentence

True

In [ ]:
True/False--Keyword

### Variable
- a variable is a container to store the value/data

In [10]:
x=10
print(x)

10

In [11]:
print('x')

x

In [12]:
y=89.34
y

89.34

In [13]:
clg='college'
clg

'college'

In [14]:
print('college')

college

In [15]:
"text dmfkjkjkmfkljkfjkjsjhdjkfh ktuirutiouioe78950-09587 7648590-40987"

'text dmfkjkjkmfkljkfjkjsjhdjkfh ktuirutiouioe78950-09587 7648590-40987'

In [16]:
n='987657898'
print(n)

987657898

In [17]:
type(n) # which checks the datatype of variable/ele

str

In [18]:
type(134)

int

In [19]:
type(90.4567)

float

#### Type casting/conversion
- str to int
- int to str
- float to int
- int to float
- float to str

multiple assignments in a single line<br>
multi variable assignments

In [20]:
x=10
y=20
x+y

30

In [21]:
x,y=10,20
print("x=",x)
print('y=',y)

x= 10
y= 20

In [22]:
x

10

In [23]:
num=10
num2=10
z=10
print(num,num2,z)

10 10 10

In [28]:
x=num=num2=abc=10
print(x,num,num2,abc,sep=",")

10,10,10,10

end/sep are the operators used in print()

In [29]:
print(x) # end='\n' # new
print(num)
print(num2)
abc # return

10
10
10

10

In [30]:
x=num=num2=abc=10
print(x,num,num2,abc,end=",")

10 10 10 10,

In [31]:
x=10
x=20

In [32]:
x

20

In [34]:
b=10,20,'ruthu'
b

(10, 20, 'ruthu')

In [41]:
num # int

10

In [36]:
float(num) # int to float

10.0

In [44]:
s=str(num2) # int to str
print("printing 's' value",s) # 
num2

printing 's' value 10

10

In [45]:
type(num2) # checks the data type of ele/data

int

In [46]:
type(s)

str

In [52]:
#str to int/int to str--

In [48]:
num

10

In [49]:
str(num)

'10'

In [50]:
float(9)

9.0

In [51]:
int(90.5)

90

In [53]:
int('9')

9

In [54]:
int('u')

ValueError: invalid literal for int() with base 10: 'u'

In [55]:
u=10
int(float(u))

10

In [56]:
ord('o') # which gives us the ascii value of character

111

In [57]:
chr(65) # corresponding ch assigned to this num

'A'

### operators

In [58]:
# dynamic i/p or reading

In [125]:
name='online course'
print(name)

online course

In [3]:
name=input() # which reads string type of data from the user
name

sadaq

'sadaq'

In [64]:
name

'iuewyriueoir'

In [69]:
dig=int(input('Enter the number:'))
print('your i/p is',dig)

Enter the number:6788667565
your i/p is 6788667565

In [68]:
fl=float(input())
fl

678900

678900.0

In [73]:
90+5.87

95.87

### operators
- any thing that can perform an operation b/w 2 operands
- Ex: a+b
    - a,b are operands
    - '+' is the op'r that performs the addition op'n
- types of operators
    - arithmetic op'rs
        - +,-,*,/,%,**
    - logical
        - and,or
    - relational/comparisional
        - <,<=,>,>=,==
    - bitwise
        - left shift/right shift
    - boolean
        - True/False
    - identity
        - is, is not
    - membership
        - in, not in
    - assinment op'rs
        - =,-=,+=,*=,/=

In [74]:
# perform all the arithmetic op'ns on 2 varialbes
x,y=10,5
s=x+y
sub=x-y
m=x*y
div=x/y
rem=x%y
p=x**y
print('sum=',s)
print('difference:',sub)
print('product:',m)
print('divisor:',div)
print('remainer:',rem)
print('power:',p)

sum= 15
difference: 5
product: 50
divisor: 2.0
remainer: 0
power: 100000

In [75]:
x=(int(input()))
y=(int(input()))
print('sum=',x+y)
print('sub=',x-y)
print('mul=',x*y)
print('div=',x/y)
print('pow=',x**y)
print('rem=',x%y)

8
15
sum= 23
sub= -7
mul= 120
div= 0.5333333333333333
pow= 35184372088832
rem= 8

In [87]:
f,s=int(input()),int(input())
#print(f,s,sep=",")
print('addition:',f+s)
print('subtraction:',f-s)
print('multiplication:',f*s)
print('division:',f//s)
print('remainer:',f%s)
print('power:',f**s)

20
3
addition: 23
subtraction: 17
multiplication: 60
division: 6
remainer: 2
power: 8000

In [86]:
x=(int(input()))
y=(int(input()))
a=x+y, s=x-y, m=x*y, d=x/y, r=x%y, pr=x**y # cannot
print(a,s,m,d,r,pr,sep=",")

SyntaxError: can't assign to operator (<ipython-input-86-3254b64749e1>, line 3)

In [88]:
x

8

In [89]:
y

15

In [90]:
x is not y

True

In [91]:
x is y

False

In [92]:
x!=y

True

In [93]:
x=y

In [94]:
y

15

In [95]:
x

15

In [96]:
des='I am python trainer in APSSDC'
'a' in des

True

In [97]:
'm' not in des

False

In [98]:
'des' not in des

True

In [99]:
'python' in des

True

In [100]:
'r' in 'rangoli'

True

In [101]:
's' not in 'college'

True

In [103]:
c='course'
'o' in c

True

In [104]:
x=10
x is 20

False

In [105]:
x is not 10

False

In [106]:
x is 10

True

In [107]:
i=j=40
i is j

True

In [108]:
i is not j

False

In [109]:
id(i)

1962138448

In [110]:
id(j)

1962138448

In [111]:
id(x)

1962137968

In [112]:
id(y)

1962138048

In [113]:
x<<2 # left shift

40

In [114]:
x>>2

2

In [115]:
x

10

In [116]:
bin(10)

'0b1010'

In [118]:
bin(40)

'0b101000'

In [122]:
x>>3

1

In [120]:
2=10
3=011
5=101

SyntaxError: invalid token (<ipython-input-120-f32dbf48a3cf>, line 2)

In [121]:
x=10
bin(x)

'0b1010'

In [123]:
x<<2

40

In [124]:
2**0

1